body, html, #dashboard {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#contentrow{
    height: 95%;
}

#navbar{
    background-color: orangered;
    height: 5%;
}

#sidebar{
    background-color: lightgray;
    height: 100%;
}